@inherits BaseCard

<div class="bebezor-card" @onclick=Click>
	<img src="@Src" style="width: 100%"/>
	<div class="bebezor-card-container">
		 <h4><b>@Title</b></h4>
         <p>@Description</p>
	</div>
</div>