@inherits BaseCard

<div class="bebezor-flip-card" @onclick=Click>
  <div class="bebezor-flip-card-inner">
    <div class="bebezor-flip-card-front">
      <img src="@Src" style="width:300px;height:300px;">
    </div>
    <div class="bebezor-flip-card-back">
      <h1>@Title</h1>
      <p>@Description</p>
    </div>
  </div>
</div>