@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<BebezorCollapse Text="Teste">
  <ChildContent>
	  <h1>Teste</h1>
  </ChildContent>	
</BebezorCollapse>